node_modules
*.log*
.nuxt
.nitro
.cache
.output
dist
podcastindex_feeds.db.tgz
podcasts.db
__pycache__
tempCodeRunnerFile.js
segments.ndjson
audio.mp3
data.json
json.json
poddley_fulltext_indexer/segments_ndjson.ndjson
*.wav
*mp3
**/uploads
.env
.vscode
poddley_transcriber/rsscrawler/database/podcasts.db
poddley_pm2_instances/app.config.js