@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pacifico";
  src: url("../../fonts/Pacifico.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Esteban";
  src: url("../../fonts/Esteban.ttf") format("truetype");
  font-display: swap;
}
