/* Font smoothing for better font rendering on macOS and iOS */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Quicksand" !important;
}

main *,
input * {
  font-family: "Lato" !important;
}

hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-white;
  }
}

* {
  @apply scrollbar;
  @apply scrollbar-thumb-gray-600 !important;
  @apply scrollbar-track-gray-300 !important;
  @apply scrollbar-thumb-rounded !important;
  @apply scrollbar-w-0.5 !important;
}

time {
  @apply text-gray-400;
}
