nav h1 {
  font-family: "Pacifico";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Inger";
}

main *,
body *,
nav * {
  font-family: "Esteban"; /*Inter*/
  letter-spacing: -1px;
  line-height: 100% !important;
}